h1 {
  font-family: "caveat";
  font-size: 96px;
}

h2 {
  font-family: monospace;
  font-size: 30px;
}

h3 {
  font-family: monospace;
}

nav {
  font-family: monospace;
  font-size: 20px;
}

p {
  font-family: monospace;
  font-size: 18px;
}

footer a {
  margin: 0 20px;
  color: black;
  background-color: #f8f9fa;
  font-size: 30px;
  text-decoration: none;
  border-radius: 10px;
  transition: all 100ms ease-in-out;
}

.email-icon {
  padding: 10px 10px 10px 15px;
}

.linkedin-icon {
  padding: 10px 10px 10px 15px;
}

.github-icon {
  padding: 10px 15px;
}

footer a:hover {
  color: #f8f9fa;
  background-color: black;
}

.navbar-name {
  font-family: "caveat";
  font-size: 36px;
}

.index-container {
  margin: 150px auto;
}

.intro-text {
  text-align: center;
}

.intro-text p {
  font-family: monospace;
  font-size: 30px;
}

.computer-picture {
  border-radius: 10px;
  display: block;
  margin: auto;
}

.project-button {
  font-family: monospace;
}

.profile-picture {
  border-radius: 10px;
}

.about-h2 {
  font-weight: bold;
}

.content-container img:hover {
  transform: scale(1.1);
}

.contact-container p {
  font-size: 20px;
}

.paper-plane {
  font-size: 70px;
  text-align: center;
}

@media (max-width: 900px) {
  .computer-picture {
    width: 300px;
  }

  h1 {
    font-size: 50px;
  }

  .intro-text p,
  h2 {
    font-size: 20px;
  }

  .intro-text {
    margin-top: 40px;
  }
}
