h1 {
  font-family: "caveat";
  font-size: 96px;
}

h2 {
  font-family: monospace;
  font-size: 30px;
}

h3 {
  font-family: monospace;
}

nav {
  font-family: monospace;
  font-size: 20px;
}

p {
  font-family: monospace;
  font-size: 18px;
}

.navbar-name {
  font-family: "caveat";
  font-size: 36px;
}

.index-container {
  margin: 150px auto;
}

.intro-text {
  text-align: center;
}

.intro-text p {
  font-family: monospace;
  font-size: 30px;
}

.computer-picture {
  border-radius: 10px;
  display: block;
  margin: auto;
}

.project-button {
  font-family: monospace;
}

.profile-picture {
  border-radius: 10px;
}

.about-h2 {
  font-weight: bold;
}

.content-container img:hover {
  transform: scale(1.1);
}

@media (max-width: 900px) {
  .computer-picture {
    width: 300px;
  }

  h1 {
    font-size: 50px;
  }

  .intro-text p,
  h2 {
    font-size: 20px;
  }

  .intro-text {
    margin-top: 40px;
  }
}
